<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <title>History Gastronomic</title>
</head>
<body>
    <header id="inicio" class="header_2">
        <section>
            <nav>
                    <span><a href="../index.html">Gastronomía</a> </span>
                    <span><a href="histoty.html">Historias</a></span>
                    <span><a href="menu.html">Menu</a></span>
                    <span><a href="taste.html">Sabor</a></span>
                    <span><a href="contact.html">Contacto</a></span>
            
            </nav>
        </section>
    </header>
    <main>
        <a href="#inicio"><img src="../img/flecha-hacia-arriba.png" alt="" class="img-subir"></a>


        <section class="history">
            <articule>
                <table>
                    <tr>
                        <th><h2>Quienes somos</h2></th>
                        <th><h2>Nuestra Historia</h2></th>
                    </tr>
                    <tr>
                        <th class="text_11"><img src="../img/cocinero.png" alt="cocina"></th>
                        <th class="text_11"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat qui minus, recusandae porro modi doloremque libero repudiandae saepe ab quidem odio aspernatur praesentium ratione iusto voluptates, ducimus nihil quasi excepturi?
                        Fugiat quo veritatis nostrum eaque. Maxime tempora repellat tenetur praesentium suscipit quaerat corporis exercitationem impedit. In labore voluptas natus? Sequi optio fugit perferendis aperiam, excepturi quos et id fugiat distinctio.
                        Excepturi maxime fuga, facere consequatur officia eligendi maiores neque error incidunt facilis laboriosam ut illo in blanditiis deserunt vero delectus? Ducimus tempore totam nobis architecto cumque saepe odit animi aspernatur?
                        Ea mollitia soluta harum optio sed ad itaque praesentium vel! Illo molestiae accusamus officia eaque porro debitis nostrum nesciunt iste fugit assumenda? Aliquam beatae voluptate saepe, numquam vel id dolorum.</p></th>
                    </tr>
                </table>
            </articule>
        </section>

        <section class="us">
            <articule>
                <h2>Nosotros</h2>
                <table>
                    <tr>
                        <th class="text">Mision</th>
                        <th class="text">Vision</th>
                        <th class="text">Prospecto</th>
                    </tr>
                    <tr>
                        <th>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est quas tempore cupiditate dignissimos praesentium quae sunt laboriosam officiis optio facere, tenetur natus alias ratione, illum, tempora sed iure quidem voluptate!
                        Placeat quas, velit earum iste recusandae molestiae dolores illo eius consequatur rerum commodi dolore minus culpa! Quas vitae doloribus labore nulla quasi consectetur suscipit laudantium mollitia fugiat voluptatibus, ut ipsa?</th>
                        <th>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur sint laboriosam amet nobis ipsam, repudiandae natus quam distinctio nostrum quas dolores ut voluptatum cupiditate reiciendis commodi accusamus sunt voluptatibus.
                        Harum recusandae pariatur, dignissimos nesciunt ab ipsa molestias atque earum culpa labore eos, sit tempora at! Saepe hic asperiores aut molestias, exercitationem ut iusto incidunt eaque fugiat facere culpa mollitia?</th>
                        <th>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident ipsa nesciunt incidunt beatae deleniti laboriosam, repellat ducimus? Incidunt consectetur aperiam assumenda nobis mollitia ducimus porro enim culpa dolore non! Velit!
                        Error, perspiciatis numquam molestiae tempore explicabo aspernatur natus, culpa quaerat iure in nostrum vitae est commodi dignissimos doloremque eligendi deleniti! Ullam ex sed quidem veritatis doloribus blanditiis officia iure expedita.</th>
                    </tr>
                </table>
            </articule>
        </section>

        <section class="video_1">
            <articule>
                <h2>Nuestra historia resumida en un video</h2>
                <table>
                    <tr>
                        <th>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/EjCchybK3jI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </th>
                    </tr>
                </table>
            </articule>
        </section>
        <section class="contact">
            <article class="bgr">
                <h2>¿Quieres contactarnos?</h2>
                <table>
                    <tr>
                        <th class="alined"><img src="../img/hoja2.png" alt="cocinero"> </th>
                        <th class="position_1"><a href="contact.html" class="buton"> Click Acá</a></th>
                        <th class="alinei"><img src="../img/hoja1.png" alt="cocinero"></th>
                    </tr>
                </table>
                    
                
            </article>
        </section>
    </main>
    <footer>
        &copy 2022. Realizado por Juana González
    </footer>
</body>
</html>