<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <title>Taste Gastronomic</title>
</head>
<body>
    <header id="inicio" class="header_4">
        <section>
            <nav>
                    <span><a href="../index.html">Gastronomía</a> </span>
                    <span><a href="histoty.html">Historias</a></span>
                    <span><a href="menu.html">Menu</a></span>
                    <span><a href="taste.html">Sabor</a></span>
                    <span><a href="contact.html">Contacto</a></span>
            
            </nav>
        </section>
    </header>
    <main>
        <a href="#inicio"><img src="img/flecha-hacia-arriba.png" alt="" class="img-subir"></a>

        <section class="sazon">
            <articule >
                <h2>Sazón en nuestras comidas</h2>
                    <table>
                        <tr>
                            <th class="impor1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil animi totam at sint qui autem. Ut aliquam ipsa, dicta natus libero voluptatem praesentium vero molestiae nihil, eaque vitae reiciendis debitis!
                            Magnam animi, iure ut temporibus facilis porro ratione in quibusdam distinctio beatae nulla quam odit dolorum expedita? Est iusto quis debitis pariatur nobis. Veritatis ipsum eius aperiam? Culpa, minima quia.</th>
                            <th><img src="https://www.elespectador.com/resizer/vUapTQpH4rxdfKFo45f1aGGlR-4=/920x613/filters:format(jpeg)/arc-anglerfish-arc2-prod-elespectador.s3.amazonaws.com/public/BTN6KV7NVZFORCT5KQWAHKCDNU.jpg" alt="sazon"></th>
                        </tr>
                        <tr>
                            <th><img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2018/10/como-tener-la-sazon-perfecta.jpg" alt="sazon"></th>
                            <th class="impor1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae alias ab fuga quam similique ad praesentium, minima dolorem quis dolor itaque voluptas eum esse tempora voluptate quasi numquam iusto. Ipsum?
                            Ipsam doloribus, est quibusdam officiis ut cumque. Nobis ipsum ab modi, voluptates, repellendus alias porro tempore aut quasi eveniet hic iure sint. Pariatur voluptate, eos nisi accusantium repellat minima commodi.</th>
                        </tr>
                    </table>
                
            </articule>
        </section>
        <section class="contact">
            <article class="bgr">
                <h2>¿Quieres contactarnos?</h2>
                <table>
                    <tr>
                        <th class="alined"><img src="../img/hoja2.png" alt="cocinero"> </th>
                        <th class="position_1"><a href="contact.html" class="buton"> Click Acá</a></th>
                        <th class="alinei"><img src="../img/hoja1.png" alt="cocinero"></th>
                    </tr>
                </table>
                    
                
            </article>
        </section>
        
    </main>
    <footer>
        &copy 2022. Realizado por Juana González
    </footer>
</body>
</html>