<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Sans+Pro:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>History Gastronomic</title>
</head>

<body>
    <header id="inicio" class="header_2">
        <section>
            <nav class="menu1">
                <span><a href="../index.html">Gastronomía</a> </span>
                <span><a href="histoty.html">Historias</a></span>
                <span><a href="menu.html">Menu</a></span>
                <span><a href="taste.html">Sabor</a></span>
                <span><a href="contact.html">Contacto</a></span>

            </nav>
        </section>
    </header>
    <main>
        <section class="history">
            <articule id="grid_history">
                <section class="title_1history">
                    <h2>Quienes somos</h2>
                </section>
                <section class="title_2history">
                    <h2>Nuestra Historia</h2>
                </section>
                <section class="text_11 textohistory1"><img src="../img/cocinero.png" alt="cocina" class="cocinaefect"></section>
                <section class="text_11 textohistory2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat qui minus, recusandae porro
                        modi doloremque libero repudiandae saepe ab quidem odio aspernatur praesentium ratione iusto
                        voluptates, ducimus nihil quasi excepturi?
                        Fugiat quo veritatis nostrum eaque. Maxime tempora repellat tenetur praesentium suscipit quaerat
                        corporis exercitationem impedit. In labore voluptas natus? Sequi optio fugit perferendis
                        aperiam, excepturi quos et id fugiat distinctio.
                        Excepturi maxime fuga, facere consequatur officia eligendi maiores neque error incidunt facilis
                        laboriosam ut illo in blanditiis deserunt vero delectus? Ducimus tempore totam nobis architecto
                        cumque saepe odit animi aspernatur?
                        Ea mollitia soluta harum optio sed ad itaque praesentium vel! Illo molestiae accusamus officia
                        eaque porro debitis nostrum nesciunt iste fugit assumenda? Aliquam beatae voluptate saepe,
                        numquam vel id dolorum.</p>
                </section>

            </articule>
        </section>

        <section class="us">

            <h2>Nosotros</h2>
            <articule id="grid_history1">
                <p class="phistory1">Mision</p>
                <p class="phistory2">Vision</p>
                <p class="phistory3">Prospecto</p>
                <p class="phistory4">iLorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur sint
                    laboriosam amet nobis ipsam, repudiandae natus quam distinctio nostrum quas dolores ut
                    voluptatum cupiditate reiciendis commodi accusamus sunt voluptatibus.
                    Harum recusandae pariatur, dignissimos nesciunt ab ipsa molestias atque earum culpa labore
                    eos, sit tempora at! Saepe hic asperiores aut molestias, exercitationem ut iusto incidunt
                    eaque fugiat facere culpa mollitia?</p>
                <p class="phistory5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur sint
                    laboriosam amet nobis ipsam, repudiandae natus quam distinctio nostrum quas dolores ut
                    voluptatum cupiditate reiciendis commodi accusamus sunt voluptatibus.
                    Harum recusandae pariatur, dignissimos nesciunt ab ipsa molestias atque earum culpa labore
                    eos, sit tempora at! Saepe hic asperiores aut molestias, exercitationem ut iusto incidunt
                    eaque fugiat facere culpa mollitia?</p>
                <p class="phistory6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur sint
                    laboriosam amet nobis ipsam, repudiandae natus quam distinctio nostrum quas dolores ut
                    voluptatum cupiditate reiciendis commodi accusamus sunt voluptatibus.
                    Harum recusandae pariatur, dignissimos nesciunt ab ipsa molestias atque earum culpa labore
                    eos, sit tempora at! Saepe hic asperiores aut molestias, exercitationem ut iusto incidunt
                    eaque fugiat facere culpa mollitia?.</p>

            </articule>
        </section>

        <section class="video_1">
            <articule>
                <h2>Nuestra historia resumida en un video</h2>

                            <iframe width="560" height="315" src="https://www.youtube.com/embed/EjCchybK3jI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>

            </articule>
        </section>

        <section class="contact">

            <h2>¿Quieres contactarnos?</h2>
            <article class="bgr">
                <img src="../img/hoja2.png" alt="hojadelado">
                <a href="contact.html" class="buton"> Click Acá</a>
                <img src="../img/hoja1.png" alt="hojadelado">
            </article>
        </section>
    </main>
    <footer>
        &copy 2022. Realizado por Juana González
    </footer>
</body>

</html>